<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thêm tài khoản</title>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/admin/create_account.css}">
    <link rel="icon" href="/image/p.png" type="image/x-icon">
</head>
<body>
<input type="checkbox" id="nav-toggle">
<div th:replace="/fragments/admin/sidebar :: sidebar"></div>
</div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Thêm tài khoản
        </h2>


        <div class="user-wrapper">
            <img src="/image/ico_account_gray.png" width="24px" height="24px" alt="">
            <div>
                <h4 th:text="${authen_user.firstName + ' ' + authen_user.lastName}">Dung Cao Quoc</h4>
                <small th:text="${authen_user.role.roleName}"></small>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <form action="/admin/create-account" method="post">
                <div class="form first">
                    <div class="details personal">

                        <div class="fields" th:object="${user}">
                            <div class="input-field">
                                <label>Họ</label>
                                <input th:field="*{firstName}" type="text" placeholder="Nhập họ" required>
                                <div class="error-msg">
                                    <p th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></p>

                                </div>
                            </div>
                            <div class="input-field">
                                <label>Tên</label>
                                <input th:field="*{lastName}" type="text" placeholder="Nhập tên" required>
                                <div class="error-msg">
                                    <p th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></p>
                                </div>
                            </div>

                            <div class="input-field">
                                <label>Ngày sinh</label>
                                <input name="date" type="date" placeholder="Nhập ngày sinh" required>
                                <div class="error-msg"></div>
                            </div>

                            <div class="input-field">
                                <label>Email</label>
                                <input th:field="*{email}" type="email" placeholder="Nhập email" required>
                                <div class="error-msg">
                                    <p th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>

                                </div>
                            </div>

                            <div class="input-field">
                                <label>Số điện thoại</label>
                                <input th:field="*{phoneNumber}" type="text" placeholder="Nhập số điện thoại"
                                       required>
                                <div class="error-msg">
                                    <p th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}"></p>
                                </div>
                            </div>
                            <div class="input-field">
                                <label>Địa chỉ</label>
                                <input th:field="*{address}" type="text" placeholder="Nhập địa chỉ"
                                       required>
                                <div class="error-msg">
                                    <p th:each="err : ${#fields.errors('address')}" th:text="${err}"></p>
                                </div>
                            </div>

                            <div class="input-field">
                                <label>Giới tính</label>
                                <select th:field="*{gender}" required>
                                    <!--                  <option disabled selected>Select gender</option>-->
                                    <option value="true">Nam</option>
                                    <option value="false">Nữ</option>
                                </select>
                                <div class="error-msg"></div>
                            </div>

                            <div class="input-field">
                                <label>Phân quyền</label>
                                <select name="role_id" required>
<!--                                    <option disabled selected>Select Role</option>-->
                                    <option th:each="role : ${roles}" th:value="${role.id}"
                                            th:text="${role.roleName}"></option>
                                </select>
                                <div class="error-msg">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="details ID">
                        <button class="nextBtn">
                            <span class="btnText">Xác nhận</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                        <img th:if="${success}" src="/image/success.png">
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>