<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="lab la-accusoft"></span><span>Manager</span></h2>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/manager" id="dashboard"><span class="las la-igloo"></span>
                        <span>Dashboard</span></a>
                </li>
                <li>
                    <a th:href="@{/manager/product}" id="product" ><span class="las la-users"></span>
                        <span>Products</span></a>
                </li>
<!--                <li>-->
<!--                    <a href="/perform_logout" ><span class="las la-shopping-bag"></span>-->
<!--                        <span>Logout</span></a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</th:block>